<!-- 
This page will load the header for all the pages. There should be a Home button that will take the user to the home page. The navigation bar should have links to the About Me, Projects, Skills, and Contact sections of the page. 
And a resume button and lastly my full CV.
-->
<link rel="stylesheet" href="/public/css/header.css">
<header id="main-header">
    <div>
        
        <nav>
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/contacts">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>
