<!-- 
This page will load the header for all the pages. There should be a Home button that will take the user to the home page. The navigation bar should have links to the About Me, Projects, Skills, and Contact sections of the page. 
And a resume button and lastly my full CV.
-->

<nav>
    <ul>
        <li><a href="#about">About Me</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>