<!--
This page will show my courses and certifications as well as my research and publications.
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
        <title>Education of ABID</title>
        <%- include('includes/head') %>
            <link rel="stylesheet" href="/css/education.css">
</head>

<body>
    <%- include('includes/headers') %>
        <h1>Education & Certifications</h1>
        <div class="container">
            <ul>
                <li>
                    <h2>B.Sc in Software Engineering</h2>
                    <h3>Daffodil International University</h3>
                    <p>Dhaka, Bangladesh</p>
                    <p>Expected Graduation: June, 2025</p>
                    <p>Relevent Course Work:
                    <ul>
                        <li>Structure Programming</li>
                        <li>Object Oriented Programming</li>
                        <li>Data Structure and Algorithms</li>
                        <li>Database Management System</li>
                        <li>Web development</li>
                        <li>Introduction to Machine learning</li>
                        <li>Artificial Intelligence</li>
                    </ul>
                    </p>
                </li>
                <li>
                    <h2>IBM Data Analyst</h2>
                    <h3>Organization: IBM</h3>
                    <p>Completion: May 2024</p>
                    <p>Successfully completed 9 courses covering core principles of data analytics, including hands-on
                        experience with data analysis tools and techniques. Proficiencies include:
                    <ul>
                        <li>Data Analysis Tools: Excel, SQL, Python, Jupyter Notebooks, Cognos Analytics</li>
                        <li>Skills Gained: Data manipulation, data visualization, creating interactive dashboards, and
                            generating analytical reports</li>
                        <li>Practical Experience: Analyzed real-world datasets and presented findings through
                            visualizations and reports. Prepared for an entry-level role in data analytics.</li>
                    </ul>
                    </p>
                </li>

                <li>
                    <h2>IBM Data Science Professional Certificate</h2>
                    <h3>Issued by: IBM</h3>
                    <p>Completion: December, 2023</p>
                    <p>Developed hands-on skills in Data Science and Machine Learning through a comprehensive series of
                        courses. Key competencies include:
                    <ul>
                        <li>
                            Programming Languages: Python, SQL
                        </li>
                        <li>Data Science Tools: Jupyter Notebooks, Data Visualization, Cloud-based labs</li>
                        <li>
                            Skills Gained: Data analysis, data visualization, machine learning model creation, and
                            methodology
                            application
                        </li>
                        <li>
                            Capstone Project: Applied learned skills in a final project to demonstrate proficiency in
                            Data
                            Science and Machine Learning.
                        </li>
                        </p>
                    </ul>
                </li>
                <li>
                    <h2>Machine Learning Specialization</h2>
                    <h3>Issued by: Deeplearning.Ai</h3>
                    <p>Completion: January, 2024</p>
                    <p>Completed a series of courses focused on modern machine learning techniques. Key topics covered
                        include:
                    <ul>
                        <li>
                            Supervised Learning: Linear regression, logistic regression, neural networks, decision trees
                        </li>
                        <li>
                            Unsupervised Learning: Clustering, anomaly detection
                        </li>
                        <li>Other Techniques: Recommender systems, reinforcement learning</li>
                        <li>
                            Skills Gained: Best practices in model building and applying machine learning solutions to
                            real-world challenges.
                        </li>
                    </ul>
                    </p>
                </li>
                <li>
                    <h2>Deep Learning Specialization</h2>
                    <h3>Issued by: Deeplearning.Ai</h3>
                    <p>Completion: July, 2024</p>
                    <p>Successfully completed 5 courses focusing on deep learning and neural network architectures. Key
                        skills and concepts include:
                    <ul>
                        <li>
                            Neural Networks: Convolutional Neural Networks (CNNs), Recurrent Neural Networks (RNNs),
                            LSTMs, Transformers
                        </li>
                        <li>
                            Optimization Techniques: Dropout, BatchNorm, Xavier/He initialization
                        </li>
                        <li>Tools: Python, TensorFlow</li>
                        <li>
                            Real-world Applications: Speech recognition, music synthesis, chatbots, machine translation,
                            and natural language processing (NLP)
                        </li>
                    </ul>
                    </p>
                </li>
            </ul>
        </div>
</body>

</html>